---
layout: home
title: 'Components'
permalink: '/components/'
---
<h1>Components</h1>
{% assign componentCount = site.data.components.size %}
<p>The full library of the completed components.<br><strong>Total Components so far:</strong> <span class="text-danger">{{componentCount}}</span></p>
<p></p>
<br>
{% assign rows = site.data.components.size | divided_by: 6.0 | ceil %}
{% for i in (1..rows) %}
    {% assign offset = forloop.index0 | times: 6 %}
    <div class="row">
    {% for comp in site.data.components limit:6 offset:offset %}
        <div class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
            <a href="{{site.baseurl}}/{{comp.permalink}}" class="card border-dark mb-3" style="text-decoration:none;">
                <img src="{{site.baseurl}}/{{comp.image}}" alt="{{comp.title}}" class="card-img-top">
                <div class="card-footer bg-dark text-white">
                    {{comp.title}}
                </div>
            </a>            
        </div>
    {% endfor %}
    </div>
{% endfor %}
<br><br>
<p>Todo:</p>
<p>To follow items on the todo list please look at the project list on github...</p>
<a href="https://github.com/shadowcodex/codex-ui/projects/" class="btn btn-lg btn-primary">View Github Projects</a>
<br><br>