<!-- <link rel="stylesheet" href="../../css/font-awesome.min.css"> -->
<div class="row justify-content-md-center">
    <div class="col-md-4 col-lg-4 col-xl-4">
        <!-- Start Blurb -->
        <div class="row">
            <div class="col-3">
                <div class="rounded-circle bg-primary text-white">
                    <i class="fa fa-check fa-2x ml-3 mt-3 mr-3 mb-3" aria-hidden="true"></i>
                </div>                
            </div>
            <div class="col-9">
                <strong>A Catchy Title</strong><br>
                Phasellus ultrices sem faucibus, dapibus sem at, ornare quam.
            </div>
        </div>
        <!-- End Blurb -->
    </div>
</div>