<!-- <link rel="stylesheet" href="../../css/font-awesome.min.css"> -->
<div class="row justify-content-md-center">
    <div class="col-md-3 col-lg-3 col-xl-3">
        <!-- Start Blurb -->
        <div class="row mb-2">
            <div class="col text-center">
                <div class="rounded-circle bg-primary text-white d-inline-block">
                    <i class="fa fa-check fa-4x mt-3 mb-3 ml-3 mr-3" aria-hidden="true"></i>
                </div>                
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <strong>A Catchy Title</strong><br>
                Phasellus ultrices sem faucibus, dapibus sem at, ornare quam.
            </div>
        </div>
        <!-- End Blurb -->
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3">
        <!-- Start Blurb -->
        <div class="row mb-2">
            <div class="col text-center">
                <div class="rounded-circle bg-primary text-white d-inline-block">
                    <i class="fa fa-check fa-4x mt-3 mb-3 ml-3 mr-3" aria-hidden="true"></i>
                </div>                
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <strong>A Catchy Title</strong><br>
                Phasellus ultrices sem faucibus, dapibus sem at, ornare quam.
            </div>
        </div>
        <!-- End Blurb -->
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3">
        <!-- Start Blurb -->
        <div class="row mb-2">
            <div class="col text-center">
                <div class="rounded-circle bg-primary text-white d-inline-block">
                    <i class="fa fa-check fa-4x mt-3 mb-3 ml-3 mr-3" aria-hidden="true"></i>
                </div>                
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <strong>A Catchy Title</strong><br>
                Phasellus ultrices sem faucibus, dapibus sem at, ornare quam.
            </div>
        </div>
        <!-- End Blurb -->
    </div>
</div>