<!-- <link rel="stylesheet" href="../../css/font-awesome.min.css"> -->
<div class="row">
    <div class="col">
        <div class="card bg-info text-white">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">A Catchy Title</h4>
                        <p>And some background information</p>
                    </div>
                    <div class="col-4">          
                        <br>             
                        <button class="btn btn-dark btn-block">Buy Now!
                            &nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h2 id="warning">Warning - Button Callout</h2>
<div class="row">
    <div class="col">
        <div class="card bg-warning">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">A Catchy Title</h4>
                        <p>And some background information</p>
                    </div>
                    <div class="col-4">
                        <br>
                        <button class="btn btn-dark btn-block">Buy Now!
                            &nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h2 id="danger">Danger - Email Subscribe Callout</h2>
<div class="row">
    <div class="col">
        <div class="card bg-danger text-white">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">A Catchy Title</h4>
                        <p>And some background information</p>
                    </div>
                    <div class="col-4">
                        <form action="#">
                            <input class="form-control" type="text" placeholder="your@email.com">
                            <button class="btn btn-dark btn-block">Subscribe!
                                &nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </button>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>