---
title: 'Newsletter Subscribe Tile 4'
description: 'Capture emails using tile widgets. (alternate design 3)'
permalink: '/components/newsletter-tile-4/'
layout: component
---
<br><br><br>
<div class="row justify-content-md-center">
    <div class="col-md-6">
        <div class="card">           
            <div class="card-header bg-success text-white text-center">Get Started Today!</div> 
            <div class="card-body bg-light">
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="First Name *">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Last Name *">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Email Address *">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-lg btn-success">Claim Your Free Trial</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br>
<p>Code:</p>
{% highlight html %}
<div class="row justify-content-md-center">
    <div class="col-md-6">
        <div class="card">           
            <div class="card-header bg-success text-white text-center">Get Started Today!</div> 
            <div class="card-body bg-light">
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="First Name *">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Last Name *">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Email Address *">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-lg btn-success">Claim Your Free Trial</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endhighlight %}