---
title: 'Newsletter Subscribe Tile'
description: 'Capture emails using tile widgets.'
permalink: '/components/newsletter-tile/'
layout: component
---
<br><br><br>
<div class="row justify-content-md-center">
    <div class="col-md-4">
        <div class="card bg-dark text-white">
            <div class="card-body">
                <form action="#">
                    <label for="email"><h3>Subscribe Now!</h3>Get news and information updates.</label>
                    <input type="text" name="email" class="form-control" placeholder="your@email.com"><br>
                    <input type="button" class="btn btn-light btn-lg btn-block" value="Subscribe">
                </form>
            </div>
        </div>
    </div>
</div>
<br><br><br>
<p>Code:</p>
{% highlight html %}
<div class="row justify-content-md-center">
    <div class="col-md-4">
        <div class="card bg-dark text-white">
            <div class="card-body">
                <form action="#">
                    <label for="email"><h3>Subscribe Now!</h3>Get news and information updates.</label>
                    <input type="text" name="email" class="form-control" placeholder="your@email.com"><br>
                    <input type="button" class="btn btn-light btn-lg btn-block" value="Subscribe">
                </form>
            </div>
        </div>
    </div>
</div>
{% endhighlight %}