---
title: 'Newsletter Subscribe Tile 3'
description: 'Capture emails using tile widgets. (alternate design 2)'
permalink: '/components/newsletter-tile-3/'
layout: component
---
<br><br><br>
<div class="row justify-content-md-center">
    <div class="col-md-6">
        <div class="card bg-light">            
            <div class="card-body">
                <span class="float-right text-muted"><strong>x</strong></span>
                <h5>Join 200,000 like minded individuals!</h5>
                <br>
                <p>Get news and information updates. Lorem ipsum dolar sit, Phasellus ultrices sem faucibus, dapibus sem at, ornare quam.<p>
                <button class="btn btn-primary btn-sm btn-block">Subscribe!</button>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="text-muted"><small>Not Using XYZ yet?</small></a>
            </div>
        </div>
    </div>
</div>
<br><br><br>
<p>Code:</p>
{% highlight html %}
<div class="row justify-content-md-center">
    <div class="col-md-6">
        <div class="card bg-light">            
            <div class="card-body">
                <span class="float-right text-muted"><strong>x</strong></span>
                <h5>Join 200,000 like minded individuals!</h5>
                <br>
                <p>Get news and information updates. Lorem ipsum dolar sit, Phasellus ultrices sem faucibus, dapibus sem at, ornare quam.<p>
                <button class="btn btn-primary btn-sm btn-block">Subscribe!</button>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="text-muted"><small>Not Using XYZ yet?</small></a>
            </div>
        </div>
    </div>
</div>
{% endhighlight %}