<div class="row justify-content-md-center">
    <div class="col-md-4">
        <div class="card bg-dark text-white">
            <div class="card-body">
                <form action="#">
                    <label for="email"><h4>Subscribe Now! <small>Get news and information updates.</small></h4></label>
                    <div class="input-group">
                            <input type="text" name="email" class="form-control border border-danger" placeholder="your@email.com">
                            <span class="input-group-btn">
                                <button class="btn btn-danger" type="button">Subscribe!</button>
                            </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>