<div class="row justify-content-md-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Reset Password</h5>
            </div>
            <div class="card-body">
                <form accept-charset="UTF-8" role="form" action="#">
                    <fieldset>
                        <div class="form-group">
                            <input type="password" placeholder="Current" name="password" class="form-control" value="">
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="New Password" name="password" class="form-control" value="">
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Confirm New Password" name="password" class="form-control" value="">
                        </div>
                        <input class="btn btn-lg btn-success btn-block" type="submit" value="Reset Password">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>