---
title: 'Sections'
description: 'A example on how to separate content vertically down the page.'
permalink: '/components/sections/'
layout: component
---
</div>
<div class="container border border-dark">
    <div class="row">
        <div class="col">
            <br>
            <br>
            <br>
            <br>
            content
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
    <div class="row bg-secondary text-white">
        <div class="col">        
            <br>
            <br>
            <br>
            <br>
            content
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <br>
            <br>
            <br>
            <br>
            content
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
    <div class="row bg-dark text-white">
        <div class="col">
            <br>
            <br>
            <br>
            <br>
            content
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>
<div class="container">
<br>
<p>Code:</p>
{% highlight html %}
<div class="container border border-dark">
    <div class="row">
        <div class="col">
            <br>
            <br>
            <br>
            <br>
            content
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
    <div class="row bg-secondary text-white">
        <div class="col">        
            <br>
            <br>
            <br>
            <br>
            content
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <br>
            <br>
            <br>
            <br>
            content
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
    <div class="row bg-dark text-white">
        <div class="col">
            <br>
            <br>
            <br>
            <br>
            content
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>
{% endhighlight %}