<div class="container border border-dark">
    <div class="row">
        <div class="col">
            <br>
            <br>
            <br>
            <br>
            content
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
    <div class="row bg-secondary text-white">
        <div class="col">        
            <br>
            <br>
            <br>
            <br>
            content
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <br>
            <br>
            <br>
            <br>
            content
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
    <div class="row bg-dark text-white">
        <div class="col">
            <br>
            <br>
            <br>
            <br>
            content
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>