<!-- <link rel="stylesheet" href="../../css/font-awesome.min.css"> -->
<div class="row justify-content-md-center">
    <div class="col-md-4">
        <div class="card border-info">
            <div class="card-header bg-info text-white">
                <h5 class="card-title">Login via Site</h5>
            </div>
            <div class="card-body">
                <form accept-charset="UTF-8" role="form" action="#">
                    <fieldset>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                <input type="text" placeholder="your@email.com" name="email" class="form-control">
                            </div>                            
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                                <input type="password" placeholder="Password" name="password" class="form-control" value="">
                            </div>                            
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                                <input type="password" placeholder="Confirm Password" name="confirm-password" class="form-control" value="">
                            </div>                            
                        </div>
                        <div class="row">
                            <div class="col">
                                <input class="btn btn-lg btn-dark btn-block" type="submit" value="Sign Up">
                            </div>
                        </div>
                        
                    </fieldset>
                </form>                         
            </div>
        </div>
    </div>
</div>