---
title: 'Team Member Profile Card'
description: 'Display a synopsis of information for team members.'
permalink: '/components/team-member-profile-card/'
layout: component
---
<div class="row justify-content-md-center">
    <div class="col-lg-4 col-md-6">
        <div class="card">
            <!-- Heading Area (image and name/title) -->
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <img src="http://placekitten.com/g/200/200" alt="user team member profile image" class="img-fluid rounded-circle mx-auto d-block">
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <h2 class="display-4">John Doe</h2>                    
                        <p>Position or Title</p>
                    </div>
                </div>                
            </div>
            <!-- Description Area (skills and social links) -->
            <div class="card-body">
                <div class="row">
                    <div class="col text-center">
                        <h4>Skills:</h4>
                        <p>Skill 1 / Skill 2 / Skill 3 / Skill 4</p>
                        <h4>Bio:</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis posuere massa. </p>
                        <h4>Social:</h4>
                        <strong>Twitter: </strong><a href="#">twitterHandle</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p>Code:</p>
{% highlight html %}
<div class="row justify-content-md-center">
    <div class="col-lg-4 col-md-6">
        <div class="card">
            <!-- Heading Area (image and name/title) -->
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <img src="http://placekitten.com/g/200/200" alt="user team member profile image" class="img-fluid rounded-circle mx-auto d-block">
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <h2 class="display-4">John Doe</h2>                    
                        <p>Position or Title</p>
                    </div>
                </div>                
            </div>
            <!-- Description Area (skills and social links) -->
            <div class="card-body">
                <div class="row">
                    <div class="col text-center">
                        <h4>Skills:</h4>
                        <p>Skill 1 / Skill 2 / Skill 3 / Skill 4</p>
                        <h4>Bio:</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis posuere massa. </p>
                        <h4>Social:</h4>
                        <strong>Twitter: </strong><a href="#">twitterHandle</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endhighlight %}
<hr>
<br>