---
title: 'Team Member Profile Card Alternative'
description: 'Display a synopsis of information for team members. (Alternative Design)'
permalink: '/components/team-member-profile-card-alternative/'
layout: component
---
<div class="row justify-content-md-center">
    <div class="col-lg-4 col-md-6">
        <div class="card bg-dark text-white">
            <!-- Heading Area (image and name/title) -->
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <img src="http://placekitten.com/201/201" alt="user team member profile image" class="img-fluid rounded-circle mx-auto d-block">
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <h2 class="display-4">John Doe</h2>                    
                        <p>Position or Title</p>
                    </div>
                </div>                
            </div>
            <!-- Description Area (skills and social links) -->
            <div class="card-body">
                <div class="row">
                    <div class="col text-center">
                        <p>Skill 1 / Skill 2 / Skill 3 / Skill 4</p>
                        <strong>Twitter: </strong><a href="#" class="text-warning">twitterHandle</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p>Code:</p>
{% highlight html %}
<div class="row justify-content-md-center">
    <div class="col-lg-4 col-md-6">
        <div class="card bg-dark text-white">
            <!-- Heading Area (image and name/title) -->
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <img src="http://placekitten.com/201/201" alt="user team member profile image" class="img-fluid rounded-circle mx-auto d-block">
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <h2 class="display-4">John Doe</h2>                    
                        <p>Position or Title</p>
                    </div>
                </div>                
            </div>
            <!-- Description Area (skills and social links) -->
            <div class="card-body">
                <div class="row">
                    <div class="col text-center">
                        <p>Skill 1 / Skill 2 / Skill 3 / Skill 4</p>
                        <strong>Twitter: </strong><a href="#" class="text-warning">twitterHandle</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endhighlight %}
<hr>
<br>